.results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.rest-img {
    max-height: 250px;
    width: auto;
}

section {
    text-align: start;
}

.rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.interactive-link tui-icon {
    transition: transform 0.1s ease-in-out;
}
.interactive-link:hover > tui-icon {
    transform: translate(0.25rem);
}