<!-- TODO: Update to autocomplete - calls restaurant search API every few sec -->
<!-- https://taiga-ui.dev/components/input -->
<search tuiSearch>
    <form [formGroup]="form">
        <div class="search-field" [ngClass]="{'inline': inlineSearchBtn}">
            <div class="search-input">
                <!-- ngClass - add class on condition -->
                <tui-textfield iconStart="@tui.search" [ngClass]="{'shake': form.invalid && form.touched}">
                    <input tuiTextfield formControlName="keyword" placeholder="Search restaurant"/>
                </tui-textfield>
                <!-- Ref: https://taiga-ui.dev/pipes/field-error#custom-messages -->
                <tui-error formControlName="keyword" [error]="[] | tuiFieldError | async"/>
            </div>

            <div><button tuiButton  type="button" (click)="search()">Search</button></div>
        </div>
    </form>
</search>