<!-- TODO: Update to autocomplete - calls restaurant search API every few sec -->
<!-- https://taiga-ui.dev/components/input -->
<search tuiSearch>
    <form [formGroup]="form">
        <fieldset>
            <div class="search-input">
                <tui-textfield iconStart="@tui.search">
                    <input tuiTextfield formControlName="restaurant" placeholder="Search restaurant"/>
                </tui-textfield>
                <!-- Ref: https://taiga-ui.dev/pipes/field-error#custom-messages -->
                <tui-error formControlName="restaurant" [error]="[] | tuiFieldError | async"/>
            </div>
            <button tuiButton  type="button" (click)="search()">Search</button>
        </fieldset>
    </form>
</search>