<header>
    <a tuiLink [routerLink]="['/']" [style.color]="'white'">
        <div class="logo">
            <!-- https://taiga-ui.dev/components/icon/API -->
            <tui-icon
                icon="@tui.soup"
                [style.color]="'white'"
            />
            <span>JioMakan</span>
        </div>
    </a>
    <nav>
        <button class="btn" tuiButton [routerLink]="['/about']" appearance="flat" [style.color]="'white'" size="m">About</button>
        <button class="btn" tuiButton [routerLink]="['/allRsvp']" appearance="flat" [style.color]="'white'" size="m">All Jios</button>
        <button class="btn" id="login" tuiButton [routerLink]="['/login']" appearance="outline-grayscale" size="m" iconStart="@tui.user-round">Login</button>
        <button class="btn" id="register" tuiButton [routerLink]="['/register']" appearance="primary-grayscale" size="m">Register</button>
    </nav>
</header>