header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DC3545;
    color: white;
    padding: 10px 90px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo i {
    font-size: 1.8rem;
}

nav {
    display: flex;
    align-items: center;
}

.btn {
    margin-left: 10px;
    font-weight: 400;
}

.btn-auth {
    border: solid white 2px !important;
    color: white;
}

/* nav button {
    margin-left: 10px;
} */